.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.button {
    width: 20%;
    background-color: #ebd451;
    border-radius: 4px;
    border: 1px solid #ebd451b2;
    color: rgb(34, 34, 34);
    font-weight: bold;
}

.deletebutton {
    width: 20%;
    height: 30px;
    background-color: #ac5959;
    border-radius: 4px;
    border: 1px solid #582d2d;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 75%;
}

.editbutton {
    width: 20%;
    height: 30px;
    background-color: #61548f;
    border-radius: 4px;
    border: 1px solid #29233d;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 75%;
    margin-bottom: 10px;
}

.input {
    width: 70%;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #eaeaea;
}

.input_container {
    width: 80%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin: 30px;
}

.todolist {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    width: 80%;
    align-self: center;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    background-color: white;
}

.container {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    padding: 12px 0;
}

.listitem {
    border-bottom: 1px solid #eaeaea;
    margin-right: 32px;
    padding: 16px 0;
    font-size: 14px;
}

.list {
    margin: 12px 0;
    margin-left: 20px;
}